@model Bio

<header>
    <div class="header-logo-sosial-user-container">
        <div class="header-sosial-icon-animation">
            <div class="sosial-icon-wrapper-container">
                <div class="sosial-icon-button-circle-body">
                    <div class="sosial-animation-circle-icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <span>@Model.facebook</span>
                </div>
                <div class="sosial-icon-button-circle-body">
                    <div class="sosial-animation-circle-icon">
                        <i class="fab fa-instagram"></i>

                    </div>
                    <span>@Model.instagram</span>
                </div>
                <div class="sosial-icon-button-circle-body">
                    <div class="sosial-animation-circle-icon">
                        <i class="fab fa-twitter"></i>

                    </div>
                    <span>@Model.twitter</span>
                </div>
                <div class="sosial-icon-button-circle-body">
                    <div class="sosial-animation-circle-icon">
                        <i class="fab fa-github"></i>

                    </div>
                    <span>@Model.github</span>
                </div>
            </div>
        </div>
        <div class="header-logo-name">
            <img src="~/img/@Model.logo" alt="">
            <h1>Pandora</h1>
        </div>

        <div style="margin-left:100px;">
            @if (ViewBag.UserImage == null)
            {
                <img style="width:60px; height:60px; border-radius:50%; object-fit:cover;" src="~/img/user-image.png" alt="">
            }
            else
            {
                <img style="width:60px; height:60px; border-radius:50%; object-fit:cover;" src="~/img/@ViewBag.UserImage" alt="">
            }

        </div>
             

        <div class="header-username-login-side">
            <div class="header-username-child-div">
                <a asp-controller="Personal" asp-action="Index" asp-route-name="@User.Identity.Name"><h5 style="cursor:pointer">@ViewBag.UserName</h5></a>
            </div>
            <div class="header-login-show-word">
                @if (User.Identity.IsAuthenticated)
                {
                    <p><a asp-controller="Account" asp-action="Logout">Log Out</a></p>
                }
                else
                {
                    <p><a asp-controller="Account" asp-action="Login">Log In</a></p>
                }

            </div>
        </div>
    </div>
    <nav>

        <div class="main-navbar-container">
            <div class="main-navbar-row">
                <div class="hover-nav">
                    <p><a asp-controller="Home" asp-action="Index">Home</a></p>
                </div>
                <div class="hover-nav category">
                    <p><a asp-controller="Book" asp-action="Index">Books</a></p>
                </div>
                <div class="hover-nav">
                    <p><a asp-controller="Blog" asp-action="Index">Blog</a></p>
                </div>
                <div class="hover-nav">
                    <p><a asp-controller="Author" asp-action="Index">Authors</a></p>
                </div>
                <div class="hover-nav">
                    <p><a href="">About Us</a></p>
                </div>
            </div>
            <div class="basket-container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Home" asp-action="Basket">
                        <i class="fas fa-shopping-bag">
                            <sup class="basket-booksCountt">@ViewBag.BasketCount</sup>
                        </i>
                    </a>
                }
                else
                {
                    <a >
                     <i class="fas fa-shopping-bag">
                       <sup class="basket-booksCountt">@ViewBag.BasketCount</sup>
                     </i>
                    </a>
                }

            </div>
        </div>
    </nav>
</header>