
@model BlogVM

@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Blog.cshtml";
   
}

<div class="blog-detail-container">
    <div class="blogD-header">
        <h1>@Model.Title</h1>
    </div>
    <div class="blogD-about-blogAuthor">
        <div class="blogAuthor-image">
            <img src="~/img/blgA.jpg" alt="">
        </div>
        <h1>Lynanna Stark</h1>
        <h3>Contacts</h3>
        <p>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
            Facebook
        </p>

        <p>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            Twitter
        </p>

    </div>
    <div class="blog-detail-text-page">
        <p>
            @Html.Raw(Model.BlogText)
        </p>
    </div>
</div>

<div class="commet-box-container">
    <div id="commetDiv" class="commet-text-body-row">

        @foreach (var commet in Model.Commets)
        {

            <div class="commet-body">
               
                <div class="commet-user-info">
                    <div class="commet-user-image">
                        @if (commet.CommentImage == null)
                        {
                            <img src="~/img/user-image.png" />
                        }
                        else
                        {
                            <img src="~/img/@commet.CommentImage" />
                        }
                        


                    </div>
                    <div class="commet-user-name">
                        <h5>@commet.UserName</h5>
                        
                    </div>
                </div>

                <div class="commet-user-text">
                    <p>
                        @commet.Text
                    </p>

                    @if (User.Identity.Name == commet.UserName)
                    {
                        <a id="dltBtnn" data-id="@commet.Id" style="cursor:pointer;">Delete</a>
                    }

                    <span>
                        @commet.Date.ToString("dd/MM/yyyy")
                    </span>
                </div>
            </div>
        }
    </div>

    <div class="commet-submit-create-row">

        <form >
            <input id="modelId" type="hidden"  value="@Model.Id" />
            <textarea id="textArea" name="Text"></textarea>
            <button  id="createCommet" >Leave Comment</button>
        </form>
    </div>
</div>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

    <script>

        //ajax commet start
       
        $(document).on("click", "#dltBtnn", function () {

            let id = $(this).attr("data-id");
            

            $.ajax({
                url: "/Blog/DeleteCommet?Id=" + id,
                type: "Get",
                success: function (res) {
                    
                }
            });

            $(this).closest('.commet-body').remove()
        });

        //ajax commet end

        //leave commet start

        let btnCreate = document.querySelector('#createCommet');
       
        btnCreate.addEventListener('click', function (event) {
            event.preventDefault();
           
         
            let formData = new FormData();
            
            formData.append("Text", $("#textArea").val());
            formData.append("Id", $("#modelId").val());

          
            axios.post('/Blog/BlogDetail', formData)
                .then(function (res) {

                    var commetDiv = document.getElementById("commetDiv");
                    
                    var commet=
                    ` <div class="commet-body">
                        <div class="commet-user-info">
                            <div class="commet-user-image">
                                 <img  src="~/img/${res.data.commentImage}" />
                            </div>
                            <div class="commet-user-name">
                                <h5>${res.data.userName}</h5>
                            </div>
                        </div>
                        <div class="commet-user-text">
                            <p>
                               ${res.data.text}
                            </p>
                                <a id="dltBtnn" data-id="${res.data.commetId}" style="cursor:pointer;">Delete</a>
                            <span>
                                ${res.data.date}
                            </span>
                        </div>
                     </div>`
                   
                    commetDiv.innerHTML += commet;
                   
                     $("#textArea").val('');
                })

        })


    </script>
}