@model Book
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminP/Views/Shared/_AdminLayout.cshtml";
}

<h2>Book</h2>

<div class="align-items-center">
    <img src="~/img/@Model.BookImage" style="width:120px; height:170px;" />
    <h3>@Model.BookName</h3>
    <h4>@Model.Author.AuthorName</h4>
    <p>@Model.BookPrice</p>
    <h5>@Model.BookCategory.CategoryName</h5>
</div>
<div class="mt-4">
    @Model.AboutBook
</div>
<form method="post">
    <button type="submit" class="btn btn-success m-3">Delete</button>
</form>
<a asp-action="Index" class="btn btn-inverse-dark">Go Back</a>


