
@model Bio

<div class="footer-container">
    <div class="footer-logo footer-childs">
        <h1>Pandora</h1>
        <p>Book Store</p>
        <p>2020</p>
    </div>
    <div class="footer-all-links footer-childs">
        <h1><a href="">Books</a></h1>
        <h1><a href="">Blogs</a></h1>
        <h1><a href="">Authors</a></h1>
        <h1><a href="">Shopping Cart</a></h1>
    </div>
    <div class="footer-contact footer-childs">
        <h1>E-mail:@Model.email</h1>
        <h1>Phone:@Model.number</h1>
        <h1>Address: @Model.address</h1>
    </div>
    <div class="footer-sosial-icons footer-childs">
        <p><a href="">@Model.instagram</a></p>
        <p><a href="">@Model.pinterest</a></p>
        <p><a href="">@Model.behance</a></p>
        <p><a href="">@Model.facebook</a></p>
        <p><a href="">@Model.twitter</a></p>
    </div>
</div>